@import url("https://db.onlinewebfonts.com/c/040a78b437acd0433612f92e61d04a1b?family=Gilroy-Medium");



body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    border-bottom: 2px solid gray;
    margin-top: 20px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
li:hover{
    color: gray;
    cursor: pointer;
}
p{
    font-size: 30px;
}
strong{
    color: gray;
}

.denis{
    font-size: 30px;
    font-family: "Gilroy-Medium";
}
.teg{
    width: 65px;
    height: 20.06px;
    font-size: 20px;
    top: 68px;
    left: 4.01px;
    transform:rotate(-90deg);
    display: flex;
    gap: 10px;
}
.info_teks{
    margin-top: 30px;
    font-size: 20px;
}
.rasim{
    background-image: url(/BSPP2266.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}
.container-rasim{
    display: flex;
    justify-content: center;
}
.about__title{
    font-size: 30px;
    font-weight: 600;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.about{
    font-family: "Gilroy-Medium";
    line-height: 21.83px;
    margin: 0;
    color: #070707;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.info{
    width: 5px;
    margin: 32px; 
    background-repeat: no-repeat;
}

.skills{
    margin-top: 100px;
    text-align: center;
}
.cards{
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.info_title{
    font-size: 20px;
    margin-top: 25px;
    font-weight: 700;
    font-size: 14px;
}
.card{
    color:gray;
}
.staris{
    margin-top: 2px;
}

svg{
    margin-top: 30px;
}